
/* Logo for the navbar */
.logo {
    display: flex;
    font-size: large;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 5px solid black;
    color: black;
}

.custom_margin {
    margin-top: 40px;
    padding-right: 10px;
    padding-left: 60px;
    
}

@media screen and (max-width: 600px) {
    .custom_margin {
        margin-top: 40px;
        padding-right: 10px;
        padding-left: 15px;
        
    }
  }

/* Styling for the navbar buttons*/
.center {
    margin-top: 25px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: large;
}

@media screen and (max-width: 600px) {
    .center {
        margin-top: 25px;
        padding-right: 10px;
        padding-left: 20px;
        font-size: large;
    }
}

/* Link Styling Below*/
a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: black;    
    color: black;
}

a:active {
    color: grey;
}

.logo_link:hover {
    text-decoration: none;
    color: black;
}